# Bỏ qua thư mục môi trường ảo
venv/
.venv/
env/


# Bỏ qua thư mục thư viện của Node.js
node_modules/

# Bỏ qua các file log lỗi (tùy chọn nhưng nên có)
npm-debug.log*
yarn-debug.log*
yarn-error.log*